# Ignore user-specific config
vp/configs/user_config.py

# Ignore cookies directory
vp/crawling/cookies/

# Ignore virtual env
venv/

# Ignore ckpt directory
ckpt/

# Ignore logs
logs/

# Ignore local directories
music_on_off_info_json_dir/
download_dir/

*__pycache__
video_preprocessor.egg-info/
.vscode/