# Ignore user-specific config
vp/configs/user_config.py

# Ignore cookies directory
vp/crawling/cookies/

# Ignore virtual env
venv/

# Ignore ckpt directory
ckpt/

# Ignore logs
logs/

# Ignore local video files
video_crawling_result/

*__pycache__
video_preprocessor.egg-info/
.vscode/