# Ignore user-specific config
vp/configs/user_config.py

# Ignore cookies directory
vp/crawling/cookies/

# Ignore virtual env
venv/

# Ignore ckpt directory
ckpt/

# (temp) Ignore json file
MMTrail2M_sample1w.json

*__pycache__
video_preprocessor.egg-info/